{% extends "base.html" %}

{% block content %}
<html lang="en">
<style>
    h1 {text-align: center;}
    p1 {text-align: center;}
</style>
<head>
    <meta charset="UTF-8">
    <title>info</title>
</head>
<h1 style="color: #fcfcfc">contact us</h1>
<div class="card mb-3">
          <div class="card-body">
            <p class="card-text"><strong>Email: Giorgigogichashvili1211@gmail.com</strong></p>
            <h2 class="card-text",  style="color: #53b048">Using {{ soft }}, the programing language is {{ proglang }}</h2>
          </div>
        </div>

</body>
</html>

{% endblock %}