{% extends "base(nonavbar).html" %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4", style="color: #fcfcfc">Register</h1>
  {% if form.errors %}
    {% for field, errors in form.errors.items() %}
      {% for error in errors %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}
  <form method="POST" action="{{ url_for('register') }}" class="col-md-6" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="mb-3">
      {{ form.username.label }}
      {{ form.username(class="form-control", placeholder="Create the username") }}
    </div>


    <div class="mb-3">
      {{ form.password.label }}
      {{ form.password(class="form-control", placeholder="Create the password") }}
    </div>


    <div class="mb-3">
      {{ form.repeat_password.label }}
      {{ form.repeat_password(class="form-control", placeholder="Repeat password") }}
    </div>



    <div>
      {{ form.submit(class="btn btn-success my-4")}}
    </div>
  </form>
</div>
{% endblock %}
